<nav class="navTabs  text-center container-fluid p-4 mb-4 row">


    <a routerLink="show"  [routerLinkActiveOptions]={exact:true} routerLinkActive="active" style="cursor: pointer ;" class="col container-fluid text-light text-center p-2 m-2 ">All Subjects</a>

    <a  routerLink="create" [routerLinkActiveOptions]={exact:true} routerLinkActive="active"   style="cursor: pointer ;" class="col container-fluid text-light text-center p-2 m-2">Create Subjects</a>

    <a routerLink="update" [routerLinkActiveOptions]={exact:true} routerLinkActive="active"  style="cursor: pointer ;" class="col container-fluid  text-light text-center p-2 m-2">Update Subjects</a>
    <a routerLink="delete"  style="cursor: pointer ;"   [routerLinkActiveOptions]={exact:true} routerLinkActive="active"   class="col container-fluid text-light text-center p-2 m-2">Delete Subjects </a>

    </nav>
 