
@import url('https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap');




*{

    // background-color: aliceblue;
    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    
    }
    
    .register
    {
    
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:   url(../../../assets/img/stars7.jpg);   

background-position: center;
background-size: cover;
}

.title
{

font-family: 'Rubik Distressed', cursive;

}

    .container 
{position: absolute;

    top:80%;
    left: 50%;
transform: translate(-50%, -50%);
text-align: center;

}


h1{


    margin-bottom: 40px;
    font-family: sans-serif;
}

.switch
{
position: relative;
display: inline-block;
width: 110px;
height: 60px;
margin: 0 10px;

}

.slider
{
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;

background-color: #ccc;
transition: .4s;
border-radius: 34px;
}


.switch input {display: none}

.slider:before 
{
position: absolute;
content: "";
height: 50px;
width: 50px;
left: 6px;
bottom: 5px;
background-color: white;
transition: 0.4s;
border-radius: 50px;


}

input:checked + .slider
{
background-color: black;

}


input:checked + .slider:before
{
transform: translateX(50px);

}