<div class="main">



    <div class="solar">


        <div class="sun">
            <div class="star"></div>
        </div>


        <div class="murcury">
            <div class="planet">

                <div class="shadow">

                </div>
            </div>
        </div>


        <div class="venus">
            <div class="planet">
                <div class="shadow">


                </div>
            </div>
        </div>



        <div class="earth">
            <div class="planet">
                <div class="shadow">

                </div>
            </div>

        </div>





        <div class="mars">

            <div class="planet">

                <div class="shadow">


                </div>
            </div>

        </div>



        <div class="jupiter">

            <div class="planet">

                <div class="shadow">

                </div>
            </div>
        </div>




        <div class="saturn">

            <div class="planet">

                <div class="shadow">

                </div>
            </div>
        </div>


        <div class="uranus">

            <div class="planet">

                <div class="shadow">

                </div>
            </div>
        </div>


        <div class="neptuno">

            <div class="planet">

                <div class="shadow">

                </div>
            </div>
        </div>

    </div>


</div>