
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
*
{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
 font-family: 'Yeseva One', cursive;
}

h1{
    font-family: 'Yeseva One', cursive;
}


// .bg{

//     background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.6)), url(../../assets/img/stars11.jpg);
// background-position: center;
// background-size: cover;
// }